body{
    background-color: #0c1123;
}

/* WORKS, BUT NEEDS WINDOW'S PERFORMANCE SETTING ON */

html{
    scroll-behavior: smooth;
}

/* footer (bubble for text) */

footer{
    background: #131b33;
    width: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Slide out (from the center) Popup */ 

.box.show{
    transform: translateX(0);
}

.box{
    color: rgb(231, 138, 138);
    background-color: #131b33;
    border-radius: 20px;
    height: 250px;
    width: 250px;
    font-size: medium;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 640px;
    transform: translateX(-150%);
    transition: transform 2s ease;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.box p{
    position: relative;
    bottom: 28px;
}

/* Entire Body Box Framework */

.bigbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

@property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate{
    0%{
        --a: 0deg;
    }
    100%{
        --a: 360deg;
    }
}

/* Main block */

.frame{
    display: flex;
    flex-direction: column;
    background-color: #131b33;
    width: 600px;
    height: 420px;
    border-radius: 20px;
    justify-content: space-evenly;
    align-content: stretch;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.frame h3{
    position: relative;
    top: 4px;
}

.frame p{
    position: relative;
    bottom: 16px;
}

.frame img{
    position: relative;
    bottom: 16px;
}

/* Animation for block */

.newbox{
    position: relative;
    width: 608px;
    height: 424px;
    margin-top: 15px;
    border-radius: 22px;
    padding-top: 4px;
    grid-area: b;
    right: 250px;
    background: repeating-conic-gradient(from var(--a),#17f3fd 0%, #17f3fd 5%, transparent 5%,
    transparent 40%, #17f3fd 50%);
    animation:  animate 4s linear infinite;
}

/* Footer flex structure*/

.bottombody{
    position: flex;
    display: flex;
    justify-content: center;
    
}

#copyright{
    background: #131b33;
    border-radius: 18px;
    display: flex;
    justify-content: center; 
    align-items: center;  
    flex-wrap: wrap;
}

.title{
    background-color: #131b33;
    position: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    width: 200px;
    height: 50px;
}

.undertitle{
    background-color: #131b33;
    position: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    width: 400px;
    height: 50px;
    gap: 0px;
}

/* Popup testing */

/* open ("Gif Timeline") & close button (actually "close") */
#open {
    background-color: #131b33;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color: rgb(231, 138, 138);
    cursor: pointer;
    padding: 3px 10px;
    font-size: 35px;
}

#close {
    color: rgb(231, 138, 138);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    position: relative;
    left: 300px;
    top: 5px;
    height: 24px;
    width: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pop{
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop.open{
    opacity: 1;
    z-index: 999;
}

.pop-inner{
    display: flex;
    flex-direction: column;
    background-color: pink;
    width: 700px;
    height: 500px;
    border-radius: 20px;
}

/* Custom positioning for items within flex box*/

.pop-inner p{
   position: relative;
   bottom: 27px;
   right: 0px;
}

.pop-inner h2{
    position: relative;
    right: 0px;
}

.pop-inner img{
    position: relative;
    bottom: 20px;
    right: 0px;
}

/* Background light animation*/

.poplight{
    position: flex;
    width: 708px;
    height: 503.9px;
    margin-top: 15px;
    border-radius: 22px;
    padding-top: 4px;
    grid-area: b;
    left: 125px;
    background: repeating-conic-gradient(from var(--a),#17f3fd 0%, #17f3fd 5%, transparent 5%,
    transparent 40%, #17f3fd 50%);
    animation:  animate 4s linear infinite;
}